$borderWidth: 1px;
$borderStyle: dashed;
$borderColor: white;


.swl-dashboard-menu-wrapper {
  border: 1px solid black;
  div:first-child {
    border-right: 1px solid black;
  }
  .swl-dashboard-menu-item {
    //padding: 10px;
  }
}

.swl-card-wrapper {
  display: flex;
}

.swl-type {
  flex: 1;
  margin: 0.5rem 0 1rem 0;
  background-color: green;
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.swl-card {
  flex: 35;
  padding: 8px;
  .card-content {

  }
  .swl-content {
    overflow: hidden;
    padding: 0;
  }
  .swl-header {
    text-align: center;
    margin: 0;
    div {
      padding-bottom: 10px;
      border-bottom: $borderWidth $borderStyle $borderColor;
    }
  }
  .swl-body {
    height: 100px;
    text-align: center;
    display: flex;
    div {
      padding-top: 10px;
    }
  }
}

.swl-border {
  &.swl-right {
    border-right: $borderWidth $borderStyle $borderColor;
  }
  &.swl-left {
    border-right: $borderWidth $borderStyle $borderColor;
  }
  &.swl-top {
    border-right: $borderWidth $borderStyle $borderColor;
  }
  &.swl-bottom {
    border-right: $borderWidth $borderStyle $borderColor;
  }
}