<div class="flexMidle">
    <div class="flex swl-dashboard-menu-wrapper">
        <div class="btn swl-dashboard-menu-item">
            Particulier
        </div>
        <div class="btn swl-dashboard-menu-item">
            professionnel
        </div>
    </div>
</div>

<div class="row">
    <div class="col s12">
        <h2>Liste des dossiers</h2>
    </div>
</div>

<div ng-repeat="(indexItemGroup, itemGroup) in vm.items" class="row">
    <div ng-repeat="(indexItem, item) in itemGroup">
        <div class="col s{{12 / vm.itemsPerRow}}">
            <div class="swl-type"></div>
            <div class="card swl-card red lighten-1">
                <div class="card-content white-text swl-content">
                    <div class="card-title row swl-header">
                        <div class="col s3 fa fa-clock-o swl-border swl-right"></div>
                        <div class="col s5 fa fa-address-card-o swl-border swl-right"></div>
                        <div class="col s4 fa fa-pencil"></div>
                    </div>
                    <div class="row swl-body">
                        <div class="col s3 swl-border swl-right">
                            13:10
                        </div><div class="col s5 swl-border swl-right">
                            {{item.firstName}} {{item.lastName}}
                            {{item.option}}
                            {{item.uuid}}
                            {{item.firstName}} {{item.lastName}}
                            {{item.company}} {{item.workPosition}}
                            {{item.address}}
                            {{item.phoneNumber}}
                            {{item.children}}
                        </div><div class="col s4">
                            Test
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col s12">
        <a class='btn' ng-click="vm.clearClients()">Effacer</a>
    </div>
</div>