<h3><b><u>Client list:</u></b></h3>
<div class="row">
    <!-- Modal Trigger -->
    <a class='btn' ng-click="vm.synchroniseDB()">Synchronise DB</a> <a class='btn' ng-click="vm.dropDB()">Drop DB</a>
</div>
<div ng-repeat="(indexItemGroup, itemGroup) in vm.items" class="row">
    <div ng-repeat="(indexItem, item) in itemGroup">
        <div class="col s{{12 / vm.itemsPerRow}}">
            <div class="swl-type"></div>
            <div class="card swl-card red lighten-1">
                <div class="card-content white-text swl-content">
                    <div class="card-title row swl-header">
                        <div class="col s2 fa fa-clock-o swl-border swl-right"></div>
                        <div class="col s6 fa fa-address-card-o swl-border swl-right"></div>
                        <div class="col s4 fa fa-pencil"></div>
                    </div>
                    <div class="row swl-body">
                        <div class="col s2 swl-border swl-right">
                            13:10
                        </div><div class="col s6 swl-border swl-right">
                            {{item.firstName}} {{item.lastName}}
                            {{item.option}}
                            {{item.uuid}}
                            {{item.firstName}} {{item.lastName}}
                            {{item.option}}
                            {{item.uuid}}
                            {{item.firstName}} {{item.lastName}}
                            {{item.option}}
                            {{item.uuid}}
                            {{item.firstName}} {{item.lastName}}
                            {{item.option}}
                            {{item.uuid}}
                            {{item.firstName}} {{item.lastName}}
                            {{item.option}}
                            {{item.uuid}}
                            {{item.firstName}} {{item.lastName}}
                            {{item.option}}
                            {{item.uuid}}
                            {{item.firstName}} {{item.lastName}}
                            {{item.option}}
                            {{item.uuid}}
                            {{item.firstName}} {{item.lastName}}
                            {{item.option}}
                            {{item.uuid}}
                            {{item.firstName}} {{item.lastName}}
                            {{item.option}}
                            {{item.uuid}}
                            {{item.firstName}} {{item.lastName}}
                            {{item.option}}
                            {{item.uuid}}
                        </div><div class="col s4">
                            {{item.brand}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>