<!--
<div class="flexMidle">
    <div class="flex swl-dashboard-menu-wrapper">
        <div class="btn swl-dashboard-menu-item">
            Particulier
        </div>
        <div class="btn swl-dashboard-menu-item">
            professionnel
        </div>
    </div>
</div>
-->

<div ng-repeat="(indexItemGroup, itemGroup) in vm.items">
    <div class="swl-tile" ng-repeat="(indexItem, item) in itemGroup">
        <div class="swl-tile-wrapper">
            <div class="swl-type"></div>
            <div class="swl-card-wrapper">
                <div class="swl-card">
                    <div class="swl-card-header">
                        <div class="swl-card-header-item1 fa fa-clock-o"></div>
                        <div class="swl-card-header-item2 fa fa-address-card-o"></div>
                        <div class="swl-card-header-item3 fa fa-pencil"></div>
                    </div>
                    <div class="swl-card-body">
                        <div class="swl-card-body-item1 valign-wrapper">
                            <div class="valign margin0 padding0">
                                13:10
                            </div>
                        </div>
                        <div class="swl-card-body-item2">
                            <div>
                                <div>
                                    {{item.firstName}}
                                </div>
                                <div>
                                    {{item.firstName}}
                                </div>
                                <div>
                                    {{item.firstName}}
                                </div>
                            </div>
                            <div>
                                <div>
                                    {{item.firstName}}
                                </div>
                            </div>
                        </div>
                        <div class="swl-card-body-item3">
                            Test
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<a id="dashboard-clear-all" class='btn' ng-click="vm.clearClients()">Effacer</a>