<div class="app-wrapper">
    <div class="app-wrapper-content row">
        <div style="margin: 20px">
            Hello, this is a well formed form.
        </div>

        <div input-field>
            <input type="text" ng-model="_simpFormContr.input.firstName" length="40">
            <label>First name</label>
            {{_simpFormContr.error.firstName}}
        </div>
        <div input-field>
            <input type="text" ng-model="_simpFormContr.input.lastName" length="40">
            <label>Last name</label>
            {{_simpFormContr.error.lastName}}
        </div>
        <div class="flex">
            <div input-field class="flex8">
                <select ng-model="_simpFormContr.select.valueSelected" material-select watch>
                    <option ng-repeat="value in _simpFormContr.select.choices">{{value}}</option>
                </select>
                {{_simpFormContr.error.option}}
            </div>
            <div id="form-info-bulle-button-option" class="flex1 valign-wrapper swl-info-bulle-button cursor" onclick="animateHeight('#form-info-bulle-option');">
                <i class="fa fa-question-circle"></i>
            </div>
        </div>
        <div id="form-info-bulle-option" class="swl-info-bulle">
            Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression.
            Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un peintre anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte.
            Il n'a pas fait que survivre cinq siècles, mais s'est aussi adapté à la bureautique informatique, sans que son contenu n'en soit modifié.
        </div>

        <input-autocomplete unique-id="uniqueIdInputAutoComplete" label="Choose your brand (autocomplete)"
                            data="_simpFormContr.input.brand.value" error="_simpFormContr.input.brand.notValid" error-message="_simpFormContr.error.brand" />

    </div>
    <div class="row">
        <!-- Modal Trigger -->
        <a class='btn' ng-click="_simpFormContr.getDataOpenModal()" ng-disable="_simpFormContr.input.brand.notValid">Save it</a>
    </div>
</div>

<!-- Modal Structure -->
<div id="modal1" class="modal">
    <div class="modal-content">
        <h4>{{_simpFormContr.status.title}}</h4>
        <p>{{_simpFormContr.status.content}}.</p>
    </div>
    <div class="modal-footer">
        <a href="javascript:void(0)" class=" modal-action modal-close waves-effect waves-green btn-flat">Ok</a>
    </div>
</div>